body {
  font-family: Varela Round, Georgia, Serif;
  src: url(?document=fonts/VarelaRound-Regular.ttf);
  background-color: #19495f;
  height: 100%;
  max-width: 900px;
}

div.header {
  background-color: #01768f;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  color: #FFFFFF;
  padding: 20px;
  margin: 0px;  
  margin-bottom: 0px;
  text-align: center;
  border-radius:10px;
  box-shadow: 10px 10px 5px #000000;
}

div.main {
  background-color: #FFFFFA;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  border-radius:10px;
  box-shadow: 10px 10px 5px #000000;
}

div.important {
  background-color: #FF8181;
  border-width: 1px;
  border-style: solid;
  border-radius:10px;
  margin-right: 10px;
  box-shadow: 10px 10px 5px #000000;
}

html {  
  height: 100%; 
}

p {
  padding: 1px 0;
}

span.italic {
  font-style: italic;
}

span.bold {
  font-weight: bold;
}

h1 {
  font-family: Georgia, Serif;
  padding-left: 10px;
  font-size: 30px;
  text-shadow: 3px 3px 3px #BBBBBB;
}

h2, h3 {
  font-family: Georgia, Serif;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 3px 3px 3px #BBBBBB;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}


pre, .quote, .code {
  border:1px #000000 solid;
  font-family: "Courier New", courier;
  background: #FFFFFF;
  color: #000000;
  padding-top: -10px;
  padding-right: 10px;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 15px;
  border-radius:10px;
  box-shadow: 10px 10px 5px #000000;
}

.footer {
  background-color: #EEEEEE;
  color: #000000;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
  padding: 10px;
  border-radius:10px;
}

a {
  color: #000000;
}

a:hover {
  color: #FF0000;
  text-decoration: none;
}

img {
  padding-left: 10px;
  padding-bottom: 10px;
}

img.limg {
  padding-right: 10px;
}

div.incsep {
  background-color: #FEFEFE;
  padding-bottom: 50px;
}
